:root {
  --font-family: Arial,sans-serif;
  --font-family-second: 'Libre Bodoni Variable', sans-serif;
  --font-size: 16px;
  --text-color: black;
  --accent-color: #ff8863;
  --container-width: 1200px;
  --border-color: #dedede;
}